.main04{float:left; width: 100%; height: auto; @include inter_bottom; 
  .project_area{float:left; width: 740px; height: 130px; background-color: #daa; @include inter_right;}
  .adver03_area{float:left; width: 332px; height: 130px; background-color: #aad;}

}//main04