.main02{float:left; width: 332px; height: auto; @include inter_bottom;
  >.login_area{width: 100%; height: 120px; @include inter_bottom;background-color: #dda;}
  >.timesquare_area{width: 100%; height: 142px; @include inter_bottom;background-color: #daa;}
  >.adver02_area{width: 100%; height: 150px; background-color: #ada;}
}//.main02