.main03{float:left; width: 100%; height: auto; @include inter_bottom;
  .teamcast{float:left; width: 740px; height: 884px; @include inter_right; background-color: #dda;}
  .shopcast{float:left; width: 332px; height: 884px; background-color: #add;}
}//.main02