@charset "UTF-8";
/*koreanfolk_main_01.css*/

/* 공통 */
/* common set ========================================== */
	h3{width:100%; height:50px; margin-bottom:30px;	text-align: center; font-size:30px; line-height:60px;}
/* #wrap ============================================ */
#wrap{width: 100%; min-width:480px; height: auto;}

/* #headBox ======================================== */
#headBox{width: 100%; height: 80px; padding:20px 15px; box-sizing:border-box; background-color: #777;}
h1{width: 84px; height: 40px; margin:auto; background-color: #ada;}



/* #conBox ======================================== */
#conBox{width: 100%; height: auto;}
	/* .view_area ======================================== */

	.view_area{position:relative; width: 100%; height: 520px; background-color: #555;}
		.indicator{position:absolute; left:0; right:0; margin:auto; bottom:30px; width: 200px; height: 40px;}

		.indicator > ul > li{float:left; width:30px; margin:auto; margin-right:4px; background-color: #333;
										padding:2px; box-sizing:border-box;}
		.indicator > ul > li:last-child{margin-right:0;}

		.indicator a{color:inherit;}
		
		.arrow_btn {position:absolute; top:40%; width:auto; height:auto; color:#fff;}           
		.next_btn{right:10%;}
		.pre_btn{left:10%;}
		.arrow_btn > button {width: 100%; height: 100%; background-color:transparent; font-size:5rem;}


	/* .news_area ======================================== */
	.news_area{width: 100%; height: auto; padding:30px 50px; box-sizing:border-box; background-color: #aaa;}
	
		.news_zone01{width: 100%; height:auto;}
		.news_zone01>div{display:block; width: 100%; height:200px;  margin-bottom:30px;}		
		.perform_section{background-color: #5ad;}
		.map_section{background-color: #5ad;}


		.news_zone02{width: 100%; height:auto;}
		.news_zone02>div{display:block; width:100%;height:200px;  margin-bottom:30px; }
		.news_zone02>div:last-child{margin-bottom:0;}
			.notic_section{background-color: #5ad;}
			.promotion_section{background-color: #5ad;}
			.group_section{background-color: #5ad;}

	/* .map_area ======================================== */
	.map_area{width: 100%; height: 100%; padding:30px; box-sizing:border-box; background-color: #777;}
		.transit_section{width: 100%; height: 40px; background-color: #faf; margin-bottom:40px;}
		.map_pic{width: 100%; height: 400px; background-color: #aaf;}



	/* #footBox ============================================ */
#footBox{width: 100%; height: 150px; background-color: #aaa;}






/* - design 기준: 480px (mobile) */
@media screen and (min-width:480px)  and (max-width:767px) {
/* #headBox ======================================== */

/* #contentBox ========================================== */
.news_zone01>.map_section{display:none; background-color: #aa2;}

/* #footBox ============================================ */

}/* @media screen and (min-width:480px)  and (max-width:767px)  */




/* - 디자인 기준 : 768px (tablet) */
@media screen and (min-width:768px)  and (max-width:959px) {
/* #headBox ======================================== */
	

/* #contentBox ========================================== */
.news_zone01>.map_section{display:none; background-color: #aa2;}


	
/* #footBox ============================================ */

	
}/* @media screen and 768px ~ 959px */




/* - design 기준: 960px  (pc) */
@media screen and (min-width:960px) {

	.area_wrap{width:80%; min-width:960px;}
/* #headBox ======================================== */


/* #contentBox ========================================== */

/* #footBox ============================================ */
	#footBox {height: 120px; padding-top:16px; padding-bottom:60px;}

}/* @media screen and (min-width:960px) */




