@charset "UTF-8";
/* national_03_news_hall.css */


#wrap{width: 100%; min-width: 480px;height: auto; margin:auto;}
  /* conBox ==================================== */
  #conBox{width: 100%; height: auto;}
  /* news_area ======================= */
  .title_news{width: 100%;background-image: url(../../img/news_img/ng_title_bg.jpg); background-position: 50% 50%; background-repeat:no-repeat; background-size:100% auto;}
  .title_news_text{width: 100%; height: 100%; background-image:url(../../img/news_img/ng_title_news.png); background-position: 50% 50%;background-repeat:no-repeat;}