@charset "UTF-8";

*{margin:0; padding:0; outline:0; border:0; list-style:none; color:#333333;}
.hidden{width:0; height:0; overflow:hidden; display:none;}
a{display:block;width:100%; height:100%; text-decoration:none;color:#fff;}
*:focus{border:1px solid #0076BE; box-sizing:border-box;}
.clearfix:after,.clearfix::after{content:" "; display:block; width:0; height:0; clear:both;}

/*  ======================================  */
html,body{width:100%; min-width:1200px; height:100%; background-color:#ffffff;}
#wrap{width:1200px; height:700px; margin:auto; }
/* =================================================*/
#headBox{position:relative; z-index:1000;width:100%; height:100px; background-color:#aaa}
#headBox>h1{float:left; width:200px; height:100%; padding:20px; box-sizing:border-box; background-color:#777;}
#headBox>.gnb{float:right; width:1000px; height:100%; padding:20px 0 0 150px; box-sizing:border-box;}
.gnb>dl{float:left; width:200px; height:100%; text-align:center; }
.gnb>dl>dt{width:200px; height: 50px;font-size:20px; line-height:50px; background-color:#0076be}
.gnb>dl>dt>a:hover,.gnb>dl>dt>a:focus{color:#0073be; background-color:#fff}
.gnb>dl>dd{display:none; width:100%; height:120px; background-color:#fff; color:#333;}
.gnb>dl>dd>a{ width:100%; height:30px; line-height:30px; color:#333;}
.gnb>dl>dd>a:hover,.gnb>dl>dd>a :focus{color:#fff; background-color:#0076be}



/* =================================================*/
#conBox{width: 100%; height:500px; padding:0 50px; box-sizing:border-box;}
#conBox>.slide_area{position:relative; width:100%; height:300px;overflow:hidden;}
.btn_zone{position:absolute; bottom:0; left:0; right:0; margin:auto; z-index:100; width:120px; height:50px;}
.btn_zone>button{float:left; width:50px; height:100%; margin-right:10px;}
.slide_area>ul{width:300%; height:0;}
.slide_area>ul>li{float:left; width:1100px; height:300px;}



#conBox>.info_area{width:100%; height:200px;}
.info_area>.teb_zone{position:relative; float:left; width:400px; height:100%;}

.teb_zone>.tab_btn{width:100%; height:20%; background-color:#aaa}
.teb_zone>.tab_btn>.noti_btn{float:left; width:100px; height:100%; text-align:center; line-height:40px}
.teb_zone>.tab_btn>.gall_btn{float:left; width:100px; height:100%; text-align:center; line-height:40px}
.tab_btn button{width:100%; height:100%; background-color:#ddd}
.tab_btn .action{background-color:#fff; color:#0076be;}

.teb_zone>.notice{position:absolute; bottom:0; left:0; width:100%; height:80%; background-color:#afa}
.teb_zone>.gall{display:none; position:absolute; bottom:0; left:0; width:100%; height:80%; background-color:#aaf}

.info_area>.banner_zone{float:left; width:350px; height:100%; background-color:#777}
.info_area>.go_zone{float:left; width:350px; height:100%; background-color:#555}
.popup{display:none; position:absolute; top:0; right:0; left:0; bottom:0; margin:auto;width:500px; height:400px; background-color:#aaa; border:1px solid #333;}
.popup>form{width:100%; height:80%; padding:20px; box-sizing:border-box;}
.popup>form label{float:left;width:20%; height:20px; margin-bottom:20px;}
.popup>form input{float:right;width:80%; height:20px; margin-bottom:20px;}
.popup>form input:last-child{height:200px}

.popup>.close{width:100px; height:30px; margin:0 200px}


/* =================================================*/
#footBox{width:100%; height:100px;}
#footBox>h2{float:left; width:20%; height:100%; background-color:#faa; padding:20px; box-sizing:border-box;}
#footBox>.company{float:right; width:80%; height:100%;}
#footBox>.company>.sns{width:100%; height:50%; background-color:#ffa}
#footBox>.company>p{width:100%; height:50%; text-align:center; background-color:#afa}