//var.scss

//color
$primary :#ffd51c;
$black : #171717;
$white : #fff;
$gray : #777;
$opacity : rgba(0,0,0,0.5);
$gradation :rgba($primary, 0), rgba($primary, 1) 30%, rgba($primary, 1) 70%, rgba($primary, 0);

//line
@mixin title_line($w:1px){height:1px; background-color: $primary; width: $w; }







