/*basic_02.css*/
.icon_01 {
  background-image: url("../../img/main/icon/list_1.hpg"); }

.icon_02 {
  background-image: url("../../img/main/icon/list_2.hpg"); }

.icon_03 {
  background-image: url("../../img/main/icon/nature/list_3.hpg"); }

ul {
  display: block;
  width: 100%;
  height: 100%; }

.my_01 {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-size: contain;
  background-attachment: fixed; }

.testUnit {
  width: 960px;
  width: 60rem; }

.testUnit {
  height: 100px; }
