#withBox{width: 100%; height: 100%;
  h2{@include h2; text-align: center; padding-top:50px;}
  p{@include text_con; text-align: center; text-transform: uppercase;}
  $w:180px; $h:180px; $m:50px;
ul{width:($w * 5 + 50px)+($m * 4 + 50px); height: $h * 2; margin:auto; margin-top:100px;
  >li{float:left; width: $w; height: $h; margin-right:$m; margin-bottom: 80px; background-color: #fff; border-radius: 100%;
  &:nth-child(5n){margin-right:0}
  &:nth-child(1){@include bg_base("../../img/01ci_toss.png", $s:auto)}
  &:nth-child(2){@include bg_base("../../img/02ci_kakao.png", $s:auto)}
  &:nth-child(3){@include bg_base("../../img/03ci_sk.png", $s:auto)}
  &:nth-child(4){@include bg_base("../../img/04ci_banksalad.png", $s:auto)}
  &:nth-child(5){@include bg_base("../../img/05ci_8per.png", $s:auto)}
  &:nth-child(6){@include bg_base("../../img/06ci_pop.png", $s:auto)}
  &:nth-child(7){@include bg_base("../../img/07ci_nice.png", $s:auto)}
  &:nth-child(8){@include bg_base("../../img/08ci_home.png", $s:auto)}
  &:nth-child(9){@include bg_base("../../img/09ci_info.png", $s:auto)}
  &:nth-child(10){@include bg_base("../../img/10ci_kicc.png", $s:auto)}

  &:hover{width: 230px; height: 230px; margin-right:0; margin-bottom:30px}
    }//li
  }//ul
}//withBox