$w:10rem; $m:6rem;
.email_area{width: 100%; height: 12.5rem; padding:1.4rem; box-sizing: border-box; background-color: $gray;
  h3{@include h3; text-align: center; margin-bottom:1rem;}
  p{@include text_18_bold; text-align: center;}
} //.email_area
.foot_nav{width: 100%; height: 100%; padding:1.4rem; box-sizing: border-box;background-color: $bg_gray; 
  ul{width: ($w * 5) + ($m * 4); height: auto; margin:auto; 
    li{float:left; width: auto; height: auto; margin-right:$m;
    &:last-child{margin-right:0;}
      dl{width: auto; height: auto;
        dt{width: auto; height: auto; margin-bottom:1rem; @include text_22; font-weight: bold; text-transform: uppercase;}
        dd{width: auto; height: auto; line-height:1.8rem; @include text_18;
        a{@include aLink;}}
      }
    }//li
  }//ul
}//foot_nav

.company_info{width: 100%; height: 12rem; padding:2rem 0 3rem; border-top:0.4px solid $border_g; box-sizing: border-box; background-color: $bg_gray;
  .f_info_wrap{width: ($w * 5) + ($m * 4); height: 100%; margin:auto;
    .foot_zone{float:left; width: 20%; height: 100%;
      .foot_logo{ width: 8rem; height: 7.6rem; margin:auto; background-color: #f00;}
    }//.foot_zone
    .text_zone{float:left; width: 80%; height: auto;
      ul{width: 100%; height: auto;
        li{float: left; margin-right:2rem; margin-bottom:1.8rem;
          a{@include aLink;}
        &:last-child{margin-right:0;}
          }//li
        }//ul
        p{margin-bottom: 0.8rem;}
    }//.text_zone
  }//.f_info_wrap
}//.compant_info