html, body {
  background-color: #fafafa; }

#wrap {
  width: 100%;
  height: 100%;
  min-width: 960px;
  margin: auto;
  padding: 0 10%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold; }

#contentBox {
  width: 100%;
  min-width: 960px;
  height: 100%;
  padding-top: 90px;
  box-sizing: border-box; }

#headBox {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  width: 100%;
  min-width: 960px;
  height: 90px;
  transform: translateX(-50%);
  padding: 0 10%;
  box-sizing: border-box;
  background-color: #fff; }
  #headBox h1 {
    float: left;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-image: url("../../img/logoGnb.png"); }
    #headBox h1 > a {
      display: block;
      width: 100%;
      height: 100%; }
  #headBox #gnb {
    float: right;
    width: 80%;
    height: 100%; }
    #headBox #gnb ul {
      float: right;
      width: auto;
      height: 100%; }
      #headBox #gnb ul li {
        float: left;
        width: auto;
        height: auto;
        margin-right: 50px;
        line-height: 90px; }
        #headBox #gnb ul li > a {
          color: #171717;
          text-transform: uppercase; }
          #headBox #gnb ul li > a > span {
            text-transform: initial; }

#viewBox {
  width: 100%;
  height: 100%;
  background-color: #aaf; }
  #viewBox .slide_area {
    width: 800px;
    height: auto;
    padding-top: 150px;
    box-sizing: border-box; }
    #viewBox .slide_area .guide {
      width: 200%;
      height: 100%; }
      #viewBox .slide_area .guide .text_area {
        width: auto;
        height: auto; }
        #viewBox .slide_area .guide .text_area h3 {
          font-size: 50px;
          font-size: 3.125rem;
          font-weight: bold;
          color: #171717;
          margin-bottom: 30px; }
          #viewBox .slide_area .guide .text_area h3 > em {
            font-size: 80px;
            font-size: 5rem;
            font-weight: bold;
            color: #171717;
            font-style: normal;
            text-transform: uppercase; }
        #viewBox .slide_area .guide .text_area p {
          font-size: 20px;
          font-size: 1.25rem;
          color: #171717;
          word-break: keep-all;
          letter-spacing: -10; }

#openBox {
  width: 100%;
  height: 100%; }
  #openBox h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; }
  #openBox p {
    font-size: 20px;
    font-size: 1.25rem;
    color: #171717;
    word-break: keep-all;
    text-align: center;
    text-transform: uppercase; }
  #openBox ul {
    width: 1160px;
    height: 560px;
    margin: auto;
    margin-top: 100px; }
    #openBox ul > li {
      float: left;
      width: 380px;
      height: 280px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: #ddd; }
      #openBox ul > li:nth-child(3n) {
        margin-right: 0; }
      #openBox ul > li > a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%; }
        #openBox ul > li > a i {
          width: 100%;
          height: 80%; }
        #openBox ul > li > a p {
          font-size: 26px;
          font-size: 1.625rem;
          font-weight: bold;
          color: #171717; }
        #openBox ul > li > a .detail {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 50px 40px;
          box-sizing: border-box;
          background-color: #ddd; }
          #openBox ul > li > a .detail p {
            font-size: 18px;
            font-size: 1.125rem;
            color: #171717;
            word-break: keep-all;
            margin-bottom: 20px; }
          #openBox ul > li > a .detail .btn_area {
            width: 100%;
            height: 70%; }
            #openBox ul > li > a .detail .btn_area button {
              float: left;
              width: 48%;
              height: 100%;
              background-color: #99a; }
              #openBox ul > li > a .detail .btn_area button:nth-child(1) {
                margin-right: 10px; }

#histoBox {
  width: 100%;
  height: 100%;
  background-color: #fafafa; }
  #histoBox h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; }
  #histoBox p {
    font-size: 20px;
    font-size: 1.25rem;
    color: #171717;
    word-break: keep-all;
    text-align: center;
    text-transform: uppercase; }
  #histoBox ul {
    width: 1180px;
    height: 60%;
    margin: auto;
    margin-top: 100px; }
    #histoBox ul li {
      float: left;
      width: 280px;
      height: 100%;
      margin-right: 20px;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: #fff; }
      #histoBox ul li:last-child {
        margin-right: 0; }
      #histoBox ul li a {
        display: block;
        width: 100%;
        height: 100%; }
        #histoBox ul li a .img_area {
          width: 100%;
          height: 60%; }
        #histoBox ul li a .text_area {
          width: 100%;
          height: 40%; }
          #histoBox ul li a .text_area h4 {
            font-size: 30px;
            font-size: 1.875rem;
            font-weight: bold;
            color: #171717;
            text-align: center;
            margin-bottom: 20px; }
          #histoBox ul li a .text_area p {
            font-size: 15px;
            font-size: 0.9375rem;
            color: #171717;
            word-break: keep-all;
            letter-spacing: -1px; }

#center {
  width: 100%;
  height: 100%; }
  #center h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; }
  #center p {
    font-size: 20px;
    font-size: 1.25rem;
    color: #171717;
    word-break: keep-all;
    text-align: center;
    text-transform: uppercase; }
  #center .center_area {
    width: 940px;
    height: 60%;
    margin: auto;
    margin-top: 100px; }
    #center .center_area ul {
      width: 100%;
      height: 10%;
      margin-bottom: 40px; }
      #center .center_area ul li {
        position: relative;
        float: left;
        width: 300px;
        height: 100%;
        margin-right: 20px;
        text-align: center;
        line-height: 250%;
        text-transform: uppercase; }
        #center .center_area ul li:after, #center .center_area ul li::after {
          content: " ";
          position: absolute;
          top: 25%;
          right: 0;
          display: block;
          width: 1px;
          height: 50%;
          background-color: #e8e8e8; }
        #center .center_area ul li:last-child {
          margin-right: 0; }
          #center .center_area ul li:last-child:after, #center .center_area ul li:last-child::after {
            width: 0; }
    #center .center_area .c_slide {
      width: 100%;
      height: 90%; }
      #center .center_area .c_slide .btn_zone {
        position: relative;
        top: 50%;
        width: 100%;
        height: 0;
        transform: translateY(-50%); }
        #center .center_area .c_slide .btn_zone > button {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 50px;
          height: 50px;
          margin: auto;
          background-color: #aaa; }
          #center .center_area .c_slide .btn_zone > button.prev {
            left: -20px; }
          #center .center_area .c_slide .btn_zone > button.next {
            right: -20px;
            background-color: #777; }
      #center .center_area .c_slide .pic_zone {
        width: 90%;
        height: 90%;
        margin: auto;
        border: 1px solid #e8e8e8;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #fff; }

#withBox {
  width: 100%;
  height: 100%; }
  #withBox h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #171717;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; }
  #withBox p {
    font-size: 20px;
    font-size: 1.25rem;
    color: #171717;
    word-break: keep-all;
    text-align: center;
    text-transform: uppercase; }
  #withBox ul {
    width: 1200px;
    height: 360px;
    margin: auto;
    margin-top: 100px; }
    #withBox ul > li {
      float: left;
      width: 180px;
      height: 180px;
      margin-right: 50px;
      margin-bottom: 80px;
      background-color: #fff;
      border-radius: 100%; }
      #withBox ul > li:nth-child(5n) {
        margin-right: 0; }
      #withBox ul > li:nth-child(1) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/01ci_toss.png"); }
      #withBox ul > li:nth-child(2) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/02ci_kakao.png"); }
      #withBox ul > li:nth-child(3) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/03ci_sk.png"); }
      #withBox ul > li:nth-child(4) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/04ci_banksalad.png"); }
      #withBox ul > li:nth-child(5) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/05ci_8per.png"); }
      #withBox ul > li:nth-child(6) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/06ci_pop.png"); }
      #withBox ul > li:nth-child(7) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/07ci_nice.png"); }
      #withBox ul > li:nth-child(8) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/08ci_home.png"); }
      #withBox ul > li:nth-child(9) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/09ci_info.png"); }
      #withBox ul > li:nth-child(10) {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        background-image: url("../../img/10ci_kicc.png"); }
      #withBox ul > li:hover {
        width: 230px;
        height: 230px;
        margin-right: 0;
        margin-bottom: 30px; }

#footBox {
  width: 100%;
  height: 90px; }
  #footBox h2 {
    float: left;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-image: url("../../img/logoFooter.png"); }
  #footBox .text_area {
    float: left;
    width: 80%;
    height: auto; }
    #footBox .text_area .address_zone {
      float: left;
      width: auto;
      height: auto;
      margin-left: 20px; }
      #footBox .text_area .address_zone address {
        font-style: normal;
        font-size: 15px;
        font-size: 0.9375rem;
        color: #171717;
        word-break: keep-all;
        margin: 16px 0 5px 0; }
      #footBox .text_area .address_zone p {
        font-size: 12px;
        font-size: 0.75rem;
        color: #777;
        word-break: keep-all; }
  #footBox .family_zone {
    position: relative;
    float: right;
    width: 200px;
    height: 30px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 14px;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #777;
    word-break: keep-all;
    text-transform: uppercase; }
    #footBox .family_zone > dt {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      line-height: 28px;
      padding-left: 14px; }
      #footBox .family_zone > dt > a {
        display: block;
        width: 100%;
        height: 100%; }
        #footBox .family_zone > dt > a span {
          float: left; }
        #footBox .family_zone > dt > a i {
          float: right;
          margin-right: 10px;
          line-height: 30px; }
    #footBox .family_zone > dd {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: auto;
      padding: 10px 0 10px 14px;
      box-sizing: border-box;
      border: 1px solid #aaa;
      border-radius: 20px;
      background-color: #fff;
      letter-spacing: -1px;
      font-size: 12px;
      font-size: 0.75rem;
      color: #777;
      word-break: keep-all; }
      #footBox .family_zone > dd a {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 4px; }
        #footBox .family_zone > dd a:hover {
          color: #171717; }
