@import "./_basic/var";
@import "./_basic/mixin";

#wrap{width: 100%; height: 100%; min-width:960px; margin:auto; padding:0 350px; box-sizing:border-box; font-family: sans-serif; font-weight: bold;}
#headBox{position:fixed; top: 0; left:50%; width: 100%; height: 90px; transform:translateX(-50%); padding:0 350px; box-sizing:border-box;background-color: #fff;}
#contentBox{width: 100%; min-width:960px;height: 100%;padding-top:90px; box-sizing:border-box;}
#viewBox{width: 100%; height: 100%;  background-color: #aaf;}
#openBox{width: 100%; height: 100%; background-color: #aaa;}
#histoBox{width: 100%; height: 100%; background-color: #afa;}
#center{width: 100%; height: 100%; background-color: #ffa;}
#withBox{width: 100%; height: 100%; background-color: #aff;}
#footBox{width: 100%; height: 90px; background-color: #aaa;}
.aa{width: 100%; height: 100%; background-color: #ddd;}

@import "./_temp/nh_header.scss";
@import "./_temp/nh_viewBox.scss";
@import "./_temp/nh_openBox.scss";
@import "./_temp/nh_histoBox.scss";
@import "./_temp/nh_center.scss";
@import "./_temp/nh_withBox.scss";
@import "./_temp/nh_footBox.scss";